.p-table {
  min-width: 60rem;
}

.page {
  padding: 1.5rem;
}

.buttons {
  display: flex;
  gap: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.filter-bar {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 1rem;
}

.thumb-img {
  width: 80px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}


.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .info {
    font-size: 0.875rem;
    color: gray;
  }

  .pagination {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.preview-container {
  display: flex;
  justify-content: center;
}

.preview-image,
.preview-video {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 8px;
}