USE [DOOH_AD]

-- =============================================
-- Author:		Jecika Shrestha
-- Create date: 2026/05/06
-- Description:	This procedure soft deletes a campaign 
-- =============================================

/*
    DECLARE @Json NVARCHAR(MAX) = N'{"Id": 4, "DeletedBy": 1}';
    EXEC dbo.SpCampaignDel @Json = @Json OUTPUT;
    SELECT @Json;
*/

CREATE   PROCEDURE [dbo].[SpCampaignDel] 
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS 
BEGIN 
	SET NOCOUNT ON;
	BEGIN TRY
		DECLARE 
			@Id INT, 
			@DeletedBy INT;

		SELECT 
			@Id = Id, 
			@DeletedBy = DeletedBy
		FROM OPENJSON(@Json)
		WITH
		(
			Id INT, 
			DeletedBy INT
		)

		--1. Campaign must exist and not already deleted
        IF NOT EXISTS (
            SELECT 1
            FROM dbo.Campaign
            WHERE Id        = @Id
              AND IsDeleted = 0
        )
        BEGIN
            SELECT @Json = (
                SELECT 'Campaign not found or already deleted.' AS ErrorMessage
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
            );
            RETURN;
        END

		--2. Block deletion if campaign is completed 
		-- completed means all date slots have passed 

		IF NOT EXISTS 
		(
			SELECT 1 
			FROM dbo.CampaignDate AS cd
			WHERE cd.CampaignId = @Id 
			AND cd.EndDate >= GETUTCDATE()
		)
		BEGIN 
			SELECT @Json = (
					SELECT 'Completed campaign cannot be deleted.' AS ErrorMessage
					FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
					);
					RETURN;
		END

		--3. Soft delete campaign 

		BEGIN TRANSACTION; 

		 -- soft delete campaign media
		UPDATE cm
		SET cm.IsDeleted = 1,
		    cm.DeletedAt = GETUTCDATE(),
		    cm.DeletedBy = @DeletedBy
		FROM dbo.CampaignMedia AS cm
		WHERE cm.CampaignId = @Id
		  AND cm.IsDeleted  = 0;

		  -- Soft delete campaign 
		UPDATE c
		SET c.IsDeleted = 1, 
			c.DeletedAt = GETUTCDATE(),
			c.DeletedBy = @DeletedBy
		FROM dbo.Campaign AS c
		WHERE c.Id = @Id

		COMMIT TRANSACTION ; 


		-- 4. Return deleted campaign 

		SELECT @Json = (
			SELECT 
				c.Id, 
				c.TenantId, 
				c.[Name], 
				c.DurationInDays, 
				c.[Status], 
				c.Remarks, 
				c.IsDeleted, 
				c.CreatedAt, 
				c.CreatedBy, 
				c.DeletedAt, 
				c.DeletedBy
		FROM dbo.Campaign AS c
	    WHERE c.Id = @Id
		FOR JSON PATH, INCLUDE_NULL_VALUES , WITHOUT_ARRAY_WRAPPER
		);

		END TRY
		BEGIN CATCH 
			IF @@TRANCOUNT > 0
				ROLLBACK TRANSACTION;
			SELECT @Json = (
				SELECT 
					ERROR_NUMBER() AS ErrorNumber, 
					ERROR_MESSAGE() AS ErrorMessage 
				FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
				);
		END CATCH
END;
GO

/*
-- =============================================
-- Author:		Jecika Shrestha
-- Create date: 2026/05/06
-- Description:	 This procedure inserts a new campaign along with 
--              campaign date ranges and assigned screens using JSON input.
-- =============================================

DECLARE @Json NVARCHAR(MAX) = '{
    "TenantId": 1,
    "Name": "Winter 2026",
    "Remarks": "Q1 promo campaign",
    "CreatedBy": 1,
    "Date": [
        { "StartDate": "2026-06-01", "EndDate": "2026-06-07" },
        { "StartDate": "2026-06-07", "EndDate": "2026-06-30" }
    ],
    "Screen": [
        { "ScreenId": 2 }
    ]
}';

EXEC dbo.SpCampaignIns @Json = @Json OUTPUT;
SELECT @Json AS Result;
*/
ALTER   PROCEDURE [dbo].[SpCampaignIns]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN 
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION;

		CREATE TABLE #InputCampaign
		(
			TenantId INT,
			[Name] NVARCHAR(150) NOT NULL,
			Remarks NVARCHAR(250),
			CreatedBy INT, 
			DateJson NVARCHAR(MAX),
			ScreenJson NVARCHAR(MAX)
		);

		CREATE TABLE #InputDate
		(
			StartDate DATETIME2(7) NOT NULL,
			EndDate DATETIME2(7) NOT NULL
		);

		CREATE TABLE #InsertedCampaign 
		(
			Id INT NOT NULL
		);


--parse json

	INSERT INTO #InputCampaign
	(
		TenantId, 
		[Name],
		Remarks,
		CreatedBy,
		DateJson,
		ScreenJson
	)
	SELECT 
		TenantId, 
		[Name],
		Remarks,
		CreatedBy,
		[Date],
		Screen
	FROM OPENJSON(@Json)
	WITH
	(
		TenantId INT,
		[Name] NVARCHAR(150),
		Remarks NVARCHAR(250),
		CreatedBy INT, 
		[Date] NVARCHAR(MAX) AS JSON, 
		Screen NVARCHAR(MAX) AS JSON
	);

	INSERT INTO #InputDate 
	(
		StartDate,
		EndDate
	)
	SELECT 
    CAST(CAST(d.StartDate AS DATE) AS DATETIME2) ,          -- 00:00:00
    DATEADD(SECOND, 86399, CAST(CAST(d.EndDate AS DATE) AS DATETIME2))
	FROM #InputCampaign AS ic
	CROSS APPLY 
	OPENJSON(ic.DateJson)
	WITH
	(	
		StartDate DATETIME2(7),
		EndDate DATETIME2(7)
	) AS d;

	-- VALIDATIONS


	--1. Start date time must be future date.
	 IF EXISTS 
	 (
            SELECT 1 FROM #InputDate
            WHERE StartDate <= GETUTCDATE()
     )
            THROW 50003, 'StartDateTime must be a future date.', 1;

    --2. Date ranges must not overlap each other
        IF EXISTS 
	   (
        SELECT 1
        FROM #InputDate d1
        INNER JOIN #InputDate d2
            ON d1.StartDate <= d2.EndDate
            AND d1.EndDate  >= d2.StartDate
            AND (d1.StartDate <> d2.StartDate OR d1.EndDate <> d2.EndDate)
       )
		THROW 50005, 'Date ranges must not overlap each other.', 1;

	--3. At least one screen must be selected 

	IF EXISTS 
	(
            SELECT 1 FROM #InputCampaign
            WHERE ScreenJson IS NULL OR ScreenJson = '[]'
    )
            THROW 50006, 'At least one screen must be selected.', 1;

	--4. Screen must not be already booked in overlapping campaign 

	IF EXISTS 
	(
		SELECT 1 
		FROM #InputCampaign AS ic 
		CROSS APPLY OPENJSON (ic.ScreenJson)
		WITH (ScreenId INT) AS s
		INNER JOIN dbo.CampaignScreen AS cs
			  ON cs.ScreenId = s.ScreenId
		INNER JOIN dbo.Campaign AS c
              ON c.Id = cs.CampaignId
			  AND c.IsDeleted = 0
		INNER JOIN dbo.CampaignDate AS cd
			  ON cd.CampaignId = c.Id
		INNER JOIN #InputDate AS id
			  ON id.StartDate < cd.EndDate
			  AND id.EndDate > cd.StartDate
	)
		THROW 50009, 'One or more screens are already booked during the selected time',1;

	-- calculate duration 

	 DECLARE @DurationInDays INT = (
            SELECT SUM(DATEDIFF(DAY, StartDate, EndDate) + 1)
            FROM #InputDate
        );

	--insert campaign
	INSERT INTO dbo.Campaign
        (
            TenantId,
            [Name],
            DurationInDays,
            [Status],
            Remarks,
            CreatedBy
        )
    OUTPUT inserted.Id INTO #InsertedCampaign (Id)
    SELECT
            ic.TenantId,
            ic.[Name],
            @DurationInDays,
            0,
            ic.Remarks,
            ic.CreatedBy
    FROM #InputCampaign ic;

	 -- INSERT CAMPAIGN DATES

	INSERT INTO dbo.CampaignDate
        (
            CampaignId,
			StartDate,
			EndDate
        )
	SELECT 
		ic.Id, 
		d.StartDate,
		d.EndDate
	FROM #InsertedCampaign AS ic
	CROSS JOIN  #InputDate AS d;

	-- INSERT CAMPAIGN SCREENS

	INSERT INTO dbo.CampaignScreen
        (
            CampaignId,
            ScreenId
        )
        SELECT
            ic.Id,
            s.ScreenId
        FROM #InsertedCampaign ic
        CROSS JOIN #InputCampaign inp
        CROSS APPLY OPENJSON(inp.ScreenJson)
        WITH (ScreenId INT) AS s; 

	-- BUILD OUTPUT JSON
       
        SET @Json = ISNULL(
        (
            SELECT
                c.Id,
                c.TenantId,
                c.[Name],
				c.DurationInDays,
                c.[Status],
				c.Remarks,
                c.CreatedAt,
                c.CreatedBy,
                (
                    SELECT
                        cd.Id,
						cd.CampaignId,
                        cd.StartDate,
                        cd.EndDate
                    FROM dbo.CampaignDate cd
                    WHERE cd.CampaignId = c.Id
                    FOR JSON PATH
                ) AS [Date],
				(
				    SELECT
						cs.Id, 
						cs.CampaignId,
						cs.ScreenId
                    FROM dbo.CampaignScreen cs
                    WHERE cs.CampaignId = c.Id
                    FOR JSON PATH
                ) AS Screen
            FROM dbo.Campaign c
            INNER JOIN #InsertedCampaign i ON i.Id = c.Id
            FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
        ), '{}');

        COMMIT TRANSACTION;

        DROP TABLE IF EXISTS #InputCampaign;
        DROP TABLE IF EXISTS #InsertedCampaign;
        DROP TABLE IF EXISTS #InputDate;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DROP TABLE IF EXISTS #InputCampaign;
        DROP TABLE IF EXISTS #InsertedCampaign;
        DROP TABLE IF EXISTS #InputDate;

        THROW;
    END CATCH
END;
-- =============================================
-- Author:		Jecika Shrestha
-- Create date: 2026/05/07
-- Description:	This procedure deletes a campaign media and returns deleted result as json 
-- =============================================
/*
DECLARE @Json NVARCHAR(MAX) = N'{"Id": 1, "DeletedBy": 1}';
EXEC dbo.SpCampaignMediaDel @Json = @Json OUTPUT;
SELECT @Json;

*/

CREATE   PROCEDURE [dbo].[SpCampaignMediaDel] 
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN 

	SET NOCOUNT ON; 
	BEGIN TRY

	DECLARE 
		@Id INT, 
		@DeletedBy INT;

	SELECT 
		@Id = Id, 
		@DeletedBy = DeletedBy
	FROM OPENJSON(@Json)
	WITH
	(
		Id INT, 
		DeletedBy INT
	);

	--1. Media must exists and not already deleted

	IF NOT EXISTS
	(
		SELECT 1 
		FROM dbo.CampaignMedia
		WHERE Id = @Id
			AND IsDeleted = 0
	)
		 THROW 50001, 'Campaign media not found or already deleted.', 1;
    

	BEGIN TRANSACTION;
		UPDATE cm 
		SET cm.IsDeleted = 1, 
			cm.DeletedAt = GETUTCDATE(),
			cm.DeletedBy = @DeletedBy
		FROM dbo.CampaignMedia AS cm 
		WHERE cm.Id = @Id;

	COMMIT TRANSACTION;

		SELECT @Json = (
	    SELECT
	        cm.Id,
	        cm.CampaignId,
	        cm.ScreenId,
	        cm.MediaId,
	        cm.PlayDate,
	        cm.PlaySequence,
	        cm.IsDeleted,
	        cm.CreatedAt,
	        cm.CreatedBy,
	        cm.DeletedAt,
	        cm.DeletedBy
	    FROM dbo.CampaignMedia AS cm
	    WHERE cm.Id = @Id
	    FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
		);
	END TRY
	BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
       THROW;
    END CATCH
END;
GO

/*

=========================================================
-- Author:		Jecika Shrestha
-- Create date: 2026/05/06
-- Description:	This procedure inserts media for specific
				screen and play date for a campaign.
=========================================================


DECLARE @Json NVARCHAR(MAX) = '{
								"CampaignId": 2,
								"ScreenId": 3,
								"PlayDate": "2026-05-17",
								"CreatedBy": 1,
								"Media": [
									{ 
										"MediaId": 4, 
										"PlaySequence": 1 
									},
									{ 
										"MediaId": 5, 
										"PlaySequence": 2 
									}
								]
							}';

EXEC [dbo].[SpCampaignMediaIns] @Json = @Json OUTPUT;

SELECT @Json;

*/

CREATE   PROCEDURE [dbo].[SpCampaignMediaIns]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION;

		CREATE TABLE #Media
		(
			CampaignId INT NOT NULL, 
			ScreenId INT NOT NULL, 
			PlayDate DATE NOT NULL,
			MediaId INT NOT NULL, 
			PlaySequence INT NOT NULL, 
			CreatedBy INT
		);

		CREATE TABLE #Inserted
		(
				Id INT NOT NULL
		);
	

		INSERT INTO #Media
		(
			CampaignId, 
			ScreenId, 
			PlayDate, 
			MediaId, 
			PlaySequence, 
			CreatedBy
		)
		SELECT 
			CampaignId, 
			ScreenId, 
			PlayDate, 
			MediaId,
			PlaySequence, 
			CreatedBy
		FROM OPENJSON(@Json)
		WITH 
		(
			CampaignId INT, 
			ScreenId INT, 
			PlayDate DATE, 
			CreatedBy INT, 
			Media NVARCHAR(MAX) AS JSON 
		) AS h 
		CROSS APPLY OPENJSON(h.Media)
		WITH 
		(
			MediaId INT, 
			PlaySequence INT
		) AS m;

		-- 1. Campaign must exist and not be deleted
		IF EXISTS
		(
		    SELECT 1
		    FROM #Media AS m
		    LEFT JOIN dbo.Campaign AS c
		        ON c.Id         = m.CampaignId
		        AND c.IsDeleted = 0
		    WHERE c.Id IS NULL
		)
		    THROW 50001, 'Campaign does not exist or has been deleted.', 1;
		
		-- 2. Screen must be assigned to this campaign
		IF EXISTS
		(
		    SELECT 1
		    FROM #Media AS m
		    LEFT JOIN dbo.CampaignScreen AS cs
		        ON cs.CampaignId = m.CampaignId
		        AND cs.ScreenId  = m.ScreenId
		    WHERE cs.Id IS NULL
		)
		    THROW 50002, 'Screen is not assigned to this campaign.', 1;
		
		-- 3. PlayDate must fall within one of the campaign date ranges
		IF EXISTS
		(
		    SELECT 1
		    FROM #Media AS m
		    WHERE NOT EXISTS
		    (
		        SELECT 1
		        FROM dbo.CampaignDate AS cd
		        WHERE cd.CampaignId = m.CampaignId
		          AND cd.StartDate <= m.PlayDate
		          AND cd.EndDate   >= m.PlayDate
		    )
		)
		    THROW 50003, 'PlayDate must fall within one of the campaign date ranges.', 1;
		
		-- 4. Media must exist and not be deleted
		IF EXISTS
		(
		    SELECT 1
		    FROM #Media AS m
		    LEFT JOIN dbo.MediaLibrary AS ml
		        ON ml.Id        = m.MediaId
		        AND ml.IsDeleted = 0
		    WHERE ml.Id IS NULL
		)
		    THROW 50004, 'One or more media items do not exist or have been deleted.', 1;
		
		-- 5. PlaySequence must be positive integer
		IF EXISTS
		(
		    SELECT 1 FROM #Media
		    WHERE PlaySequence < 1
		)
		    THROW 50005, 'PlaySequence must be a positive integer starting from 1.', 1;
		
		-- 6. Same media cannot be attached to same screen on same date twice
		IF EXISTS
		(
		    SELECT 1
		    FROM #Media AS m
		    INNER JOIN dbo.CampaignMedia AS cm
		        ON cm.CampaignId = m.CampaignId
		        AND cm.ScreenId  = m.ScreenId
		        AND cm.PlayDate  = m.PlayDate
		        AND cm.MediaId   = m.MediaId
		        AND cm.IsDeleted = 0
		)
		    THROW 50006, 'One or more media items are already attached to this screen on the selected date.', 1;
		
		-- 7. PlaySequence must be unique per screen per date
		IF EXISTS
		(
		    SELECT 1
		    FROM #Media AS m
		    INNER JOIN dbo.CampaignMedia AS cm
		        ON cm.CampaignId    = m.CampaignId
		        AND cm.ScreenId     = m.ScreenId
		        AND cm.PlayDate     = m.PlayDate
		        AND cm.PlaySequence = m.PlaySequence
		        AND cm.IsDeleted    = 0
		)
		    THROW 50007, 'PlaySequence already exists for this screen on the selected date.', 1;

			-- 8. PlaySequence must be unique within the same request
		IF EXISTS
		(
		    SELECT 1
		    FROM #Media AS m1
		    INNER JOIN #Media AS m2
		        ON  m1.CampaignId   = m2.CampaignId
		        AND m1.ScreenId     = m2.ScreenId
		        AND m1.PlayDate     = m2.PlayDate
		        AND m1.PlaySequence = m2.PlaySequence
		        AND m1.MediaId     <> m2.MediaId
		)
		    THROW 50008, 'Duplicate PlaySequence values within the same request.', 1;
		
				INSERT INTO dbo.CampaignMedia 
				(
					CampaignId, 
					ScreenId, 
					PlayDate, 
					MediaId, 
					PlaySequence, 
					CreatedBy
				)
				OUTPUT Inserted.Id INTO #Inserted(Id)
				SELECT	CampaignId, 
						ScreenId, 
						PlayDate, 
						MediaId, 
						PlaySequence, 
						CreatedBy
				FROM #Media;
	
		--=================
		--===  OUTPUT	===
		--=================
		SET @Json = ISNULL(
			(
				SELECT    
							cm.CampaignId,
							cm.ScreenId,
							s.[Name] AS ScreenName,
							cm.PlayDate,
							JSON_QUERY((
								SELECT  cm2.Id,
										cm2.MediaId,
										ml.[Name] AS [MediaName],
										cm2.PlaySequence
								FROM    dbo.CampaignMedia cm2
								INNER JOIN #Inserted i2 ON cm2.Id = i2.Id
								INNER JOIN dbo.MediaLibrary ml ON ml.Id  = cm2.MediaId
								WHERE   cm2.CampaignId = cm.CampaignId
								AND     cm2.ScreenId   = cm.ScreenId
								AND     cm2.PlayDate   = cm.PlayDate
								FOR JSON PATH, INCLUDE_NULL_VALUES
							)) AS Media,
							cm.CreatedBy
				FROM        dbo.CampaignMedia cm
				INNER JOIN  #Inserted i ON cm.Id = i.Id
				INNER JOIN inv.Screen AS s ON s.Id = cm.ScreenId
				GROUP BY
					cm.CampaignId,
					cm.ScreenId,
					s.[Name],
					cm.PlayDate,
					cm.CreatedBy
				FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
			), '{}');

			COMMIT TRANSACTION;

			DROP TABLE IF EXISTS #Inserted, #Media;

	END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO

/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description:  This procedure retrieves campaign media schedules 
--              for a specific campaign with optional filtering by 
--              screen and play date.
-- =============================================
*/
CREATE   PROCEDURE [dbo].[SpCampaignMediaSel]
(
	@Json NVARCHAR(MAX)
)
AS
BEGIN 
	SET NOCOUNT ON; 

	DECLARE 

		@CampaignId INT = TRY_CAST(JSON_VALUE(@Json, '$.Filter.CampaignId') AS INT),
		@ScreenId INT = TRY_CAST(JSON_VALUE(@Json, '$.Filter.ScreenId') AS INT),
		@PlayDate DATE = TRY_CAST(JSON_VALUE (@Json, '$.Filter.PlayDate')AS DATE),
		@Offset INT = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.Offset') AS INT), 0),
		@PageSize INT = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.PageSize') AS INT), 5),
        @Search NVARCHAR(100) = ISNULL(JSON_VALUE( @Json , '$.Filter.Search'), ''),
		@TotalRecord INT; 

		BEGIN TRY
		--1. CampaignID is required 

		IF @CampaignId IS NULL
			THROW 50001, 'CampaignId is required.', 1;

		--2. Campaign must exists and not be deleted 
		IF NOT EXISTS 
		(
			SELECT 1 FROM dbo.Campaign
			WHERE Id = @CampaignId
			AND IsDeleted = 0
		)
			THROW 50002, 'Campaign doesnot exists or has been deleted.',1;

		SELECT @TotalRecord = COUNT(1)
        FROM
        (
            SELECT cm.ScreenId, cm.PlayDate
            FROM dbo.CampaignMedia AS cm
            INNER JOIN inv.Screen AS s ON s.Id = cm.ScreenId
            WHERE cm.CampaignId = @CampaignId
              AND cm.IsDeleted  = 0
              AND (@ScreenId IS NULL OR cm.ScreenId = @ScreenId)
              AND (@PlayDate IS NULL OR cm.PlayDate  = @PlayDate)
              AND (@Search = '' OR s.[Name] LIKE '%' + @Search + '%')
            GROUP BY cm.ScreenId, cm.PlayDate
        ) AS t;

		SELECT ISNULL
        (
            (
                SELECT JSON_QUERY
                (
                    (
                        SELECT
                            cm.CampaignId,
                            cm.ScreenId,
                            s.[Name]  AS ScreenName,
                            cm.PlayDate,
                            JSON_QUERY
                            (
                                (
                                    SELECT
                                        cm2.Id,
                                        cm2.MediaId,
                                        ml.[Name]  AS [MediaName],
                                        ml.IsVideo AS MediaType,
                                        ml.[Url] AS MediaUrl,
                                        cm2.PlaySequence,
                                        cm2.CreatedAt,
                                        cm2.CreatedBy
                                    FROM dbo.CampaignMedia AS cm2
                                    INNER JOIN dbo.MediaLibrary AS ml
                                        ON ml.Id = cm2.MediaId
                                    WHERE cm2.CampaignId = cm.CampaignId
                                      AND cm2.ScreenId   = cm.ScreenId
                                      AND cm2.PlayDate   = cm.PlayDate
                                      AND cm2.IsDeleted  = 0
                                    ORDER BY cm2.PlaySequence
                                    FOR JSON PATH, INCLUDE_NULL_VALUES
                                )
                            ) AS Media
                        FROM dbo.CampaignMedia AS cm
                        INNER JOIN inv.Screen AS s
                            ON s.Id = cm.ScreenId
                        WHERE cm.CampaignId = @CampaignId
                          AND cm.IsDeleted  = 0
                          AND (@ScreenId IS NULL OR cm.ScreenId = @ScreenId)
                          AND (@PlayDate IS NULL OR cm.PlayDate  = @PlayDate)
                          AND (@Search = '' OR s.[Name] LIKE '%' + @Search + '%')
                        GROUP BY
                            cm.CampaignId,
                            cm.ScreenId,
                            s.[Name],
                            cm.PlayDate 
                        ORDER BY cm.ScreenId, cm.PlayDate DESC
                        OFFSET @Offset ROWS
                        FETCH NEXT @PageSize ROWS ONLY
                        FOR JSON PATH, INCLUDE_NULL_VALUES
                    )
                ) AS Data,
                @TotalRecord AS TotalRows
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
            ),
            '{}'
        );

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO

-- =============================================
-- Author:		Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure updates the play sequence of campaign media.
-- =============================================

/*
DECLARE @Json NVARCHAR(MAX) = '{
    "CampaignId": 2,
    "ScreenId": 3,
    "PlayDate": "2026-05-26",
    "UpdatedBy": 1,
    "Media": [
        { "Id": 1, "PlaySequence": 2 },
        { "Id": 2, "PlaySequence": 1 }
    ]
}';
EXEC dbo.SpCampaignMediaUpd @Json = @Json OUTPUT;
SELECT @Json AS Result;
*/

CREATE   PROCEDURE [dbo].[SpCampaignMediaUpd]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN 
	SET NOCOUNT ON; 
	BEGIN TRY
		BEGIN TRANSACTION;
		

		-- TEMP TABLE 

		CREATE TABLE #InputMedia 
		(
			CampaignId INT NOT NULL, 
			ScreenId INT NOT NULL, 
			PlayDate DATE NOT NULL, 
			Id INT NOT NULL, 
			PlaySequence INT NOT NULL, 
			UpdatedBy INT
		);

		--PARSE JSON 

		INSERT INTO #InputMedia
		(
			CampaignId, 
			ScreenId,
			PlayDate, 
			Id, 
			PlaySequence, 
			UpdatedBy
		)
		SELECT 
			h.CampaignId, 
			h.ScreenId, 
			h.PlayDate, 
			m.Id, 
			m.PlaySequence, 
			h.UpdatedBy 
		FROM OPENJSON(@Json)
		WITH
		(
			CampaignId INT, 
			ScreenId INT, 
			PlayDate DATE, 
			UpdatedBy INT, 
			Media NVARCHAR(MAX) AS JSON 
		) AS h 
		CROSS APPLY OPENJSON(h.Media)
		WITH 
		(
			Id INT, 
			PlaySequence INT
		) AS m; 

		-- validations 

		--1. Play sequence must be a positive integer

		IF EXISTS 
		(
			SELECT 1 FROM #InputMedia
			WHERE PlaySequence < 1
		) 
			THROW 50001, 'Play sequence must be a positive integer starting from 1.',1;

		--2. PlaySequence must be unique within the input 

		IF EXISTS 
		(
			SELECT 1 
			FROM #InputMedia AS im1
			INNER JOIN #InputMedia AS im2
				ON im1.PlaySequence = im2.PlaySequence
				AND im1.Id != im2.Id
		)
			THROW 50002, 'Play sequence must be unique within the media list. ',1;

		--update play sequence 

		UPDATE cm
        SET cm.PlaySequence = im.PlaySequence,
            cm.UpdatedAt    = GETUTCDATE(),
            cm.UpdatedBy    = im.UpdatedBy
        FROM dbo.CampaignMedia AS cm
        INNER JOIN #InputMedia AS im
            ON im.Id = cm.Id;

		SET @Json = ISNULL(
        (
            SELECT
                im.CampaignId,
                im.ScreenId,
                im.PlayDate,
				MIN(cm.CreatedAt) AS CreatedAt,
                (
                    SELECT
                        cm2.Id,
                        cm2.MediaId,
                        cm2.PlaySequence
                    FROM dbo.CampaignMedia AS cm2
                    WHERE cm2.CampaignId = im.CampaignId
					  AND cm2.ScreenId = im.ScreenId
                      AND cm2.PlayDate = im.PlayDate
					  AND cm2.IsDeleted = 0
                    ORDER BY cm2.PlaySequence
                    FOR JSON PATH
                ) AS Media
            FROM #InputMedia im
			INNER JOIN dbo.CampaignMedia AS cm   
				ON cm.Id = im.Id
				AND cm.IsDeleted = 0
            GROUP BY im.CampaignId, im.ScreenId, im.PlayDate
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        ), '{}');

		 COMMIT TRANSACTION;

        DROP TABLE IF EXISTS #InputMedia;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DROP TABLE IF EXISTS #InputMedia;
        THROW;
    END CATCH
END;
GO

/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure retrieves campaign details with 
--              optional filtering by tenant, status, 
--              campaign id.
-- =============================================
*/
CREATE PROCEDURE [dbo].[SpCampaignSel]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @TenantId    INT = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.Filter.TenantId') AS INT), 1),
        @Status      INT = TRY_CAST(JSON_VALUE(@Json, '$.Filter.Status') AS INT),
        @Search      NVARCHAR(150) = ISNULL(JSON_VALUE(@Json, '$.Filter.Search'), ''),
        @CampaignId  INT = TRY_CAST(JSON_VALUE(@Json, '$.Filter.CampaignId') AS INT),
        @Offset      INT = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.Offset') AS INT), 0),
        @PageSize    INT = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.PageSize') AS INT), 5),
        @TotalRecord INT;

    SELECT @TotalRecord = COUNT(1)
    FROM dbo.Campaign c
    WHERE c.TenantId = @TenantId
      AND c.IsDeleted = 0
      AND (@Status IS NULL OR c.[Status] = @Status)
      AND (@Search = '' OR c.[Name] LIKE CONCAT('%', @Search, '%'))
      AND (@CampaignId IS NULL OR c.Id = @CampaignId);

    SELECT ISNULL
    (
        (
            SELECT
                JSON_QUERY
                (
                    (
                        SELECT
                            c.Id,
                            c.TenantId,
                            c.[Name],
                            c.[Status],
                            c.DurationInDays,
                            c.Remarks,
                            c.CreatedAt,
                            c.CreatedBy,

                            (
                                SELECT
                                    cd.Id,
                                    cd.CampaignId,
                                    cd.StartDate,
                                    cd.EndDate
                                FROM dbo.CampaignDate cd
                                WHERE cd.CampaignId = c.Id
                                ORDER BY cd.StartDate
                                FOR JSON PATH, INCLUDE_NULL_VALUES
                            ) AS [Date],

                            (
                                SELECT
                                    cs.Id,
                                    cs.CampaignId,
                                    cs.ScreenId,
                                    s.[Name] AS ScreenName,
                                    s.Address,
                                    s.IsDeleted AS ScreenDeleted
                                FROM dbo.CampaignScreen cs
                                INNER JOIN inv.Screen s
                                    ON s.Id = cs.ScreenId
                                WHERE cs.CampaignId = c.Id
                                FOR JSON PATH, INCLUDE_NULL_VALUES
                            ) AS [Screen],

                            (
                                SELECT
                                    cm.ScreenId,
                                    s.[Name] AS ScreenName,
                                    cm.PlayDate,

                                    JSON_QUERY
                                    (
                                        (
                                            SELECT
                                                cm2.Id,
                                                cm2.MediaId,
                                                ml.[Name] AS [MediaName],
                                                ml.IsVideo AS MediaType,
                                                ml.[Url] AS MediaUrl,
                                                cm2.PlaySequence,
                                                cm2.CreatedAt,
                                                cm2.CreatedBy
                                            FROM dbo.CampaignMedia cm2
                                            INNER JOIN dbo.MediaLibrary ml
                                                ON ml.Id = cm2.MediaId
                                            WHERE cm2.CampaignId = cm.CampaignId
                                              AND cm2.ScreenId = cm.ScreenId
                                              AND cm2.PlayDate = cm.PlayDate
                                              AND cm2.IsDeleted = 0
                                            ORDER BY cm2.PlaySequence
                                            FOR JSON PATH, INCLUDE_NULL_VALUES
                                        )
                                    ) AS Media

                                FROM dbo.CampaignMedia cm
                                INNER JOIN inv.Screen s
                                    ON s.Id = cm.ScreenId

                                WHERE cm.CampaignId = c.Id
                                  AND cm.IsDeleted = 0

                                GROUP BY
                                    cm.CampaignId,
                                    cm.ScreenId,
                                    s.[Name],
                                    cm.PlayDate

                                ORDER BY
                                    cm.ScreenId,
                                    cm.PlayDate

                                FOR JSON PATH, INCLUDE_NULL_VALUES
                            ) AS CampaignMedia

                        FROM dbo.Campaign c

                        WHERE c.TenantId = @TenantId
                          AND c.IsDeleted = 0
                          AND (@Status IS NULL OR c.[Status] = @Status)
                          AND (@Search = '' OR c.[Name] LIKE CONCAT('%', @Search, '%'))
                          AND (@CampaignId IS NULL OR c.Id = @CampaignId)

                        ORDER BY c.CreatedAt DESC
                        OFFSET @Offset ROWS
                        FETCH NEXT @PageSize ROWS ONLY

                        FOR JSON PATH, INCLUDE_NULL_VALUES
                    )
                ) AS Data,

                @TotalRecord AS TotalRows

            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        ),
        '{}'
    );
END;
GO

-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure updates the status of a campaign.
-- =============================================

/*
DECLARE @Json NVARCHAR(MAX) = '{"Id": 4, "Status": 0}';
EXEC dbo.SpCampaignUpd @Json = @Json OUTPUT;
SELECT @Json;
*/

CREATE   PROCEDURE [dbo].[SpCampaignUpd]
(
    @Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

        DECLARE
            @Id     INT,
            @Status INT;

        SELECT 
            @Id = Id,
            @Status = [Status]
        FROM OPENJSON(@Json)
        WITH
        (
            Id       INT, 
            [Status] INT
        );

        BEGIN TRANSACTION;

            UPDATE dbo.Campaign
            SET [Status] = @Status
            WHERE Id = @Id;

        COMMIT TRANSACTION;

        SET @Json = ISNULL(
        (
            SELECT
                c.Id,
                c.[Name],
                c.[Status],
                c.DurationInDays,
                c.Remarks,
                c.CreatedAt,
                c.CreatedBy
            FROM dbo.Campaign AS c
            WHERE c.Id = @Id
            FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
        ), '{}');

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @Json = (
            SELECT
                ERROR_NUMBER()  AS ErrorNumber,
                ERROR_MESSAGE() AS ErrorMessage
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );
    END CATCH
END;
GO

/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure returns a dropdown list of active media library items.          
-- =============================================
*/

CREATE PROCEDURE [dbo].[SpMediaLibraryDdl]
(
    @JSON NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ISNULL(
        JSON_QUERY((
            SELECT 
                ml.Id,
                ml.[Name],
                ml.[Url],
                ml.IsVideo
            FROM dbo.MediaLibrary AS ml
            WHERE ml.IsDeleted = 0
            ORDER BY ml.[Name]
            FOR JSON PATH, INCLUDE_NULL_VALUES
        )),
        '[]'  
    );
END
GO

/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure soft deletes a media asset from the media library.         
-- =============================================
*/


CREATE   PROCEDURE [dbo].[SpMediaLibraryDel]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN 
	SET NOCOUNT ON;
	BEGIN TRY
		
		DECLARE
			@Id INT,
			@DeletedBy INT;

		SELECT
			@Id = Id,
			@DeletedBy = DeletedBy
		FROM OPENJSON(@Json)
		WITH
		(
			Id INT,
			DeletedBy INT
		);

-- 1. VALIDATE: Media must exists and not already deleted

	IF NOT EXISTS
	(
		SELECT 1
		FROM dbo.MediaLibrary
		WHERE Id = @Id
		AND IsDeleted = 0
	)
	BEGIN 
		SELECT @Json = (
			SELECT 'Media not found or already deleted.' AS ErrorMessage
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
		);
		RETURN;
	END

	BEGIN TRANSACTION;
		
		UPDATE cm
            SET cm.IsDeleted = 1,
                cm.DeletedAt = GETUTCDATE(),
                cm.DeletedBy = @DeletedBy
            FROM dbo.CampaignMedia AS cm
            WHERE cm.MediaId = @Id
            AND cm.IsDeleted = 0;

		UPDATE ml
		SET ml.IsDeleted = 1,
			ml.DeletedAt = GETUTCDATE(),
			ml.DeletedBy = @DeletedBy
		FROM dbo.MediaLibrary AS ml 
		WHERE ml.Id = @Id;

	COMMIT TRANSACTION;

	SELECT @Json = 
	(
		SELECT
			ml.Id,
			ml.TenantId,
			ml.[Name],
			ml.[Url],
			ml.Extension,
			ml.Duration, 
			ml.Resolution, 
			ml.IsVideo,
			ml.IsDeleted,
			ml.CreatedAt,
			ml.CreatedBy, 
			ml.DeletedAt, 
			ml.DeletedBy
		FROM dbo.MediaLibrary AS ml 
		WHERE ml.Id = @Id
		FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
	)

END TRY
BEGIN CATCH 
	IF @@TRANCOUNT > 0 
		ROLLBACK TRANSACTION; 

	SELECT @Json = (
		SELECT 
			ERROR_NUMBER() AS ErrorNumber,
			ERROR_MESSAGE() AS ErrorMessage
		FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
	);
END CATCH
END;
GO

/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure inserts a new media asset into the MediaLibrary 
--              table and returns as Json output      
-- =============================================
*/

CREATE   PROCEDURE [dbo].[SpMediaLibraryIns]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY 
		BEGIN TRANSACTION;

		CREATE TABLE #Inserted
		(
			Id INT NOT NULL
		);

		CREATE TABLE #InputMedia
		(
			TenantId INT,
			[Name] NVARCHAR(50) NOT NULL,
			[Url] NVARCHAR(200) NOT NULL,
			Extension NVARCHAR(10) NOT NULL,
			Duration INT,
			Resolution NVARCHAR(20),
			IsVideo BIT NOT NULL,
			CreatedBy INT
		)

		INSERT INTO #InputMedia
		(
			TenantId,
			[Name],
			[Url],
			Extension,
			Duration,
			Resolution,
			IsVideo,
			CreatedBy
		)
		SELECT 
			oj.TenantId,
			oj.[Name],
			oj.[Url],
			oj.Extension,
			oj.Duration,
			oj.Resolution, 
			oj.IsVideo,
			oj.CreatedBy

		FROM OPENJSON(@Json)
		WITH
		(
			TenantId INT,
			[Name] NVARCHAR(50),
			[Url] NVARCHAR(200),
			Extension NVARCHAR(10),
			Duration INT,
			Resolution NVARCHAR(20),
			IsVideo BIT,
			CreatedBy INT
		) AS oj;


		--1. VALIDATE: Duration required when IsVideo = 1
		IF EXISTS (SELECT 1 FROM #InputMedia WHERE IsVideo = 1 AND Duration IS NULL)
            THROW 50001, 'Duration is required for video media.', 1;

		--2. VALIDATE: TenantId must exists and active and not deleted
		
		IF EXISTS 
		(
			SELECT 1
			FROM #InputMedia AS im
			LEFT JOIN core.Tenant AS t
				ON t.Id = im.TenantId
				AND t.IsActive = 1
				AND t.IsDeleted = 0
			WHERE t.Id IS NULL
		)
			THROW 50002, 'Tenant not found or inactive.',1;


		--3. VALIDATE: Same Url cannot be uploaded twice or under the same tenant 

		IF EXISTS
		(
			SELECT 1
			FROM #InputMedia AS im 
			INNER JOIN dbo.MediaLibrary AS ml 
			ON ml.TenantId = im.TenantId
			AND ml.[Url] = im.[Url]
			AND ml.IsDeleted = 0 
		)
			THROW 50003, 'This media has already been uploaded for this tenant.', 1;


		INSERT INTO dbo.MediaLibrary
		(
			TenantId,
			[Name],
			[Url],
			Extension,
			Duration,
			Resolution,
			IsVideo,
			CreatedBy
		)
		OUTPUT inserted.Id INTO #Inserted(Id)
		SELECT 
			im.TenantId,
			im.[Name],
			im.[Url],
			im.Extension,
			im.Duration, 
			im.Resolution, 
			im.IsVideo, 
			im.CreatedBy
		FROM #InputMedia AS im;

		SET @Json = ISNULL
		(
			(
				SELECT 
					ml.Id,
					ml.TenantId,
					ml.[Name],
					ml.[Url],
					ml.Extension,
					ml.Duration, 
					ml.Resolution,
					ml.IsVideo, 
					ml.CreatedAt,
					ml.CreatedBy,
					ml.IsDeleted
				FROM dbo.MediaLibrary AS ml
				INNER JOIN #Inserted AS i 
				ON i.Id = ml.Id
				ORDER BY ml.CreatedAt DESC
				FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
				), 
				'{}'
			);

			COMMIT TRANSACTION;

			DROP TABLE IF EXISTS #InputMedia;
			DROP TABLE IF EXISTS #Inserted;

		END TRY
		BEGIN CATCH 
			IF @@TRANCOUNT > 0
				ROLLBACK TRANSACTION;

				DROP TABLE IF EXISTS #InputMedia;
				DROP TABLE IF EXISTS #Inserted;

		SET @Json =
        (
            SELECT
                ERROR_NUMBER()  AS ErrorNumber,
                ERROR_MESSAGE() AS ErrorMessage
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );
    END CATCH
END;
GO

/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure retrieves media library records with filtering 
--              and pagination.
-- =============================================
*/
CREATE   PROCEDURE [dbo].[SpMediaLibrarySel] 
(
	@Json NVARCHAR(MAX)
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE
		@TenantId INT = ISNULL(TRY_CAST (JSON_VALUE(@Json, '$.TenantId') AS INT),1),
		@Search NVARCHAR(100) = ISNULL(JSON_VALUE (@Json, '$.Filter.Search'), ''),
		@IsVideo BIT = TRY_CAST (JSON_VALUE(@Json, '$.Filter.IsVideo') AS BIT),
		@IsDeleted BIT = TRY_CAST(JSON_VALUE(@Json, '$.Filter.IsDeleted') AS BIT),
		@OffSet INT = ISNULL(JSON_VALUE(@Json, '$.Offset'), 0),
		@PageSize INT = ISNULL(JSON_VALUE(@Json, '$.PageSize'), 5),
		@TotalRecord INT;

	IF @TenantId IS NULL
	 BEGIN
		SELECT '{"Error": "TenantId is required."}';
		RETURN;
	 END

	SELECT @TotalRecord = COUNT(1)
	FROM dbo.MediaLibrary
	WHERE (@IsDeleted IS NULL OR IsDeleted = @IsDeleted)
		AND TenantId = @TenantId
		AND
		(
			@Search = ''
			OR [Name] LIKE CONCAT ('%', @Search, '%')
			OR [Url]      LIKE CONCAT('%', @Search, '%')
			OR Extension  LIKE CONCAT('%', @Search, '%')
			OR Resolution LIKE CONCAT('%', @Search, '%')
        )
		AND (@IsVideo IS NULL OR IsVideo = @IsVideo);

		SELECT ISNULL
		(
			(
				SELECT 
					JSON_QUERY
					(
						(
							SELECT
								ml.Id,
								ml.TenantId,
								ml.[Name],
								ml.[Url],
								ml.Extension,
								ml.Duration,
								ml.Resolution,
								ml.IsVideo,
								ml.CreatedAt,
								ml.CreatedBy,
								ml.IsDeleted
							FROM dbo.MediaLibrary AS ml
							WHERE (@IsDeleted IS NULL OR ml.IsDeleted = @IsDeleted)
							AND ml.TenantId = @TenantId
							AND 
							(
								@Search = ''
								OR ml.[Name] LIKE CONCAT('%', @Search, '%')
								OR ml.[Url] LIKE CONCAT ('%', @Search, '%')
								OR ml.Extension LIKE CONCAT('%', @Search, '%')
								OR ml.Resolution LIKE CONCAT ('%', @Search, '%')
							)
							AND (@IsVideo IS NULL OR ml.IsVideo = @IsVideo)
							ORDER BY ml.CreatedAt DESC
							OFFSET @OffSet ROWS
							FETCH NEXT @PageSize ROWS ONLY
							FOR JSON PATH, INCLUDE_NULL_VALUES
							)
						) AS Data,
						@TotalRecord AS TotalRows
						FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
					),
					'{}'
				);
			END;


GO
/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure returns id and name in a dropdown list of active screens 
--              from the Screen table
-- =============================================
*/

CREATE PROCEDURE [inv].[SpScreenDdl]
(
    @JSON NVARCHAR(MAX) = NULL
)
AS
BEGIN 
    SET NOCOUNT ON;

    DECLARE @CampaignId INT = TRY_CAST(JSON_VALUE(@JSON, '$.CampaignId') AS INT);

    SELECT ISNULL(
        JSON_QUERY((
            SELECT 
                s.Id,
                s.[Name]
            FROM inv.Screen AS s
            LEFT JOIN dbo.CampaignScreen AS cs
                ON cs.ScreenId    = s.Id
                AND cs.CampaignId = @CampaignId
            WHERE s.IsDeleted = 0
            AND (
                @CampaignId IS NULL
                OR cs.ScreenId IS NOT NULL
            )
            ORDER BY s.[Name]
            FOR JSON PATH, INCLUDE_NULL_VALUES
        )),
        '[]'
    );
END
GO   

-- =============================================
-- Author: Jecika Shrestha
-- Create date: 2026/04/24
-- Description:	This procedure deletes a screen and its operating hours , and blocks deletion of 
--              screen if screen has an active or upcoming campaign.
-- =============================================
/*
    DECLARE @Json NVARCHAR(MAX) = N'{"Id": 1, "DeletedBy": 1}';
    EXEC inv.SpScreenDel @Json = @Json OUTPUT;
    SELECT @Json;
*/

CREATE   PROCEDURE [inv].[SpScreenDel]
(
    @Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @Id        INT,
                @DeletedBy INT;

        SELECT
            @Id        = Id,
            @DeletedBy = DeletedBy
        FROM OPENJSON(@Json)
        WITH
        (
            Id        INT,
            DeletedBy INT
        );

        BEGIN TRANSACTION;

        -- 2. Soft delete operating hours
        UPDATE soh
        SET soh.IsDeleted = 1,
            soh.DeletedAt = GETUTCDATE(),
            soh.DeletedBy = @DeletedBy
        FROM inv.ScreenOperatingHour AS soh
        WHERE soh.ScreenId  = @Id
          AND soh.IsDeleted = 0;

        -- 3. Soft delete campaign media for this screen
        UPDATE cm
        SET cm.IsDeleted = 1,
            cm.DeletedAt = GETUTCDATE(),
            cm.DeletedBy = @DeletedBy
        FROM dbo.CampaignMedia AS cm
        WHERE cm.ScreenId  = @Id
          AND cm.IsDeleted = 0;

        -- 4. Soft delete the screen itself
        UPDATE s
        SET s.IsDeleted = 1,
            s.UpdatedAt = GETUTCDATE(),
            s.UpdatedBy = @DeletedBy,
            s.DeletedAt = GETUTCDATE(),
            s.DeletedBy = @DeletedBy
        FROM inv.Screen AS s
        WHERE s.Id = @Id;

        SELECT @Json = (
            SELECT
                s.Id,
                s.TenantId,
                s.[Name],
                s.[Address],
                s.[Location],
                s.[Status],
                s.Resolution,
                s.Orientation,
                JSON_QUERY(s.Tag) AS Tag,
                s.IsDeleted,
                s.CreatedAt,
                s.UpdatedAt,
                s.CreatedBy,
                s.UpdatedBy,
                s.DeletedAt,
                s.DeletedBy
            FROM inv.Screen AS s
            WHERE s.Id = @Id
            FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
        );

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO

/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure inserts a new screen into the Screen table 
--              and returns inserted data as json output
-- =============================================
*/
CREATE   PROCEDURE [inv].[SpScreenIns]
(
	@Json NVARCHAR(MAX) OUTPUT
) 
AS 
BEGIN 
	SET NOCOUNT ON;

	BEGIN TRY
	 BEGIN TRANSACTION;

	 --temp for inserted IDs
	 CREATE TABLE #Inserted
      (
          Id INT NOT NULL
      );
	 
	 -- Temp for Input
	 CREATE TABLE #InputScreen
	 (
		TenantId INT,
		[Name] NVARCHAR(50),
		[Address] NVARCHAR(50),
		[Location] NVARCHAR(200),
		[Status] INT,
		Resolution NVARCHAR(20),
		Orientation INT,
		Tag NVARCHAR(80),
		CreatedBy INT
	 );

	 --Parse JSON
	 INSERT INTO #InputScreen
	 (
		TenantId,
		[Name],
		[Address],
		[Location],
		[Status],
		Resolution,
		Orientation,
		Tag,
		CreatedBy
	 )
	 SELECT 
		oj.TenantId,
		oj.[Name],
		oj.[Address],
		oj.[Location],
		oj.[Status],
		oj.Resolution,
		oj.Orientation,
		oj.Tag,
		oj.CreatedBy
	FROM OPENJSON(@Json)
	WITH
	(
		TenantId INT,
		[Name] NVARCHAR(50),
		[Address] NVARCHAR(50),
		[Location] NVARCHAR(200),
		[Status] INT,
		Resolution NVARCHAR(20),
		Orientation INT,
		Tag NVARCHAR(MAX) AS Json,
		CreatedBy INT
	) AS oj;

	IF EXISTS (SELECT 1 FROM #InputScreen WHERE [Name] IS NULL)

		THROW 50001, 'Screen Name cannot be null.', 1;

	IF EXISTS (
	   SELECT 1 
	   FROM #InputScreen si
	   LEFT JOIN core.Tenant t 
	   ON t.Id = si.TenantId AND t.IsDeleted = 0
	   WHERE t.Id IS NULL
	)
	    THROW 50002, 'Tenant does not exist.',1;

	-- Validate: Screen name must be unique per tenant
    IF EXISTS
    (
        SELECT 1
        FROM #InputScreen si
        INNER JOIN inv.Screen s
            ON s.[Name]     = si.[Name]
            AND s.TenantId  = si.TenantId
            AND s.IsDeleted = 0
    )
        THROW 50003, 'Screen name already exists for this tenant.', 1;
   
	INSERT INTO inv.Screen
	(
		TenantId,
		[Name],
		[Address],
		[Location],
		[Status],
		Resolution,
		Orientation,
		Tag,
		CreatedBy
	)
	OUTPUT inserted.Id INTO #Inserted(Id)
	SELECT 
		si.TenantId,
		si.[Name],
		si.[Address],
		si.[Location],
		ISNULL(si.[Status], 1),
		ISNULL(si.Resolution, '1920x1080'),
		ISNULL(si.Orientation, 1),
		si.Tag,
		si.CreatedBy
	FROM #InputScreen si;

	SET @Json = ISNULL
        (
            (
                SELECT
                    s.Id,
                    s.TenantId,
                    s.[Name],
                    s.[Address],
                    s.[Location],
                    s.[Status],
                    s.Resolution,
                    s.Orientation,
                    JSON_QUERY(s.Tag) as Tag,
                    s.CreatedAt,
                    s.UpdatedAt,
                    s.CreatedBy,
                    s.UpdatedBy
                FROM inv.Screen s
                INNER JOIN #Inserted i ON i.Id = s.Id
				ORDER BY s.CreatedAt DESC
                FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
            ),
            '{}'
        );

	COMMIT TRANSACTION;

	DROP TABLE IF EXISTS #InputScreen;
	DROP TABLE IF EXISTS #Inserted;

	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION;

		DROP TABLE IF EXISTS #InputScreen; 
        DROP TABLE IF EXISTS #Inserted;

		THROW;
	END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenOperatingHourDel]    Script Date: 5/14/2026 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	Jecika Shrestha	
-- Create date: 2026/04/25
-- Description:	This procedure soft deletes a screen operating hour 
--              record and returns the deleted record as json.
-- =============================================

/*
DECLARE @Json NVARCHAR(MAX) = N'{
    "Id": 2,
    "DeletedBy": 1
}';

EXEC inv.SpScreenOperatingHourDel @Json = @Json OUTPUT;

SELECT @Json AS Result;
*/

CREATE   PROCEDURE [inv].[SpScreenOperatingHourDel]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
 SET NOCOUNT ON;
 BEGIN TRY
	DECLARE 
		@Id INT,
		@DeletedBy INT;

	SELECT 
		@Id = Id,
		@DeletedBy = DeletedBy
	FROM OPENJSON(@Json)
	WITH
	(
		Id INT,
		DeletedBy INT
	);

	IF NOT EXISTS 
	(
		SELECT 1 
		FROM inv.ScreenOperatingHour
		WHERE Id = @Id
		AND IsDeleted = 0
	)
	BEGIN
		SELECT @Json = (
				SELECT 
					'Operating hour not found or already deleted.' AS ErrorMessage
				FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
				);
				RETURN;
			END;

	BEGIN TRANSACTION;
	UPDATE soh
	SET
		soh.IsDeleted = 1,
		soh.DeletedAt = GETUTCDATE(),
		soh.DeletedBy = @DeletedBy
	FROM inv.ScreenOperatingHour soh
	WHERE soh.Id = @Id
	AND soh.IsDeleted = 0;

	COMMIT TRANSACTION;

	SELECT @Json = (
		SELECT 
			soh.Id,
			soh.ScreenId,
			soh.StartTime,
			soh.EndTime,
			soh.[DayOfWeek],
			soh.AvgAudienceCount,
			soh.IsDeleted,
			soh.CreatedAt,
			soh.UpdatedAt,
			soh.DeletedAt,
			soh.DeletedBy
		FROM inv.ScreenOperatingHour soh 
		WHERE soh.Id = @Id
		FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
		);
	END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT @Json = (
            SELECT 
                ERROR_NUMBER() AS ErrorNumber,
                ERROR_MESSAGE() AS ErrorMessage
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );

    END CATCH
END;
GO


/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure inserts operating hours for a screen 
--              and returns inserted data as json output.
-- =============================================
*/

CREATE   PROCEDURE [inv].[SpScreenOperatingHourIns]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION;

		CREATE TABLE #Inserted 
		(
			Id INT NOT NULL
		);

		CREATE TABLE #InputOperatingHour
		(
			ScreenId INT NOT NULL,
			StartTime TIME NOT NULL,
			EndTime TIME NOT NULL,
			[DayOfWeek] INT NOT NULL,
			AvgAudienceCount INT,
			CreatedBy INT
		)

		INSERT INTO #InputOperatingHour
		(
			ScreenId,
			StartTime,
			EndTime,
			[DayOfWeek],
			AvgAudienceCount,
			CreatedBy
		)
		SELECT 
			oj.ScreenId, 
			oj.StartTime,
			oj.EndTime, 
			oj.[DayOfWeek],
			oj.AvgAudienceCount,
			oj.CreatedBy
		FROM OPENJSON(@Json)
		WITH
		(
			ScreenId INT,
			StartTime TIME,
			EndTime TIME,
			[DayOfWeek] INT,
			AvgAudienceCount INT,
			CreatedBy INT
		) AS oj;

		--validations 

		IF EXISTS (SELECT 1 FROM #InputOperatingHour WHERE EndTime <= StartTime)
			THROW 50005, 'End time must be after start time.', 1;

		IF EXISTS 
		(
			SELECT 1 FROM #InputOperatingHour AS i
			LEFT JOIN inv.Screen AS s
				ON s.Id = i.ScreenId AND s.IsDeleted = 0
			WHERE s.Id IS NULL
		)
			THROW 50006, 'Screen not found.', 1;

		IF EXISTS 
		(
		    SELECT 1 FROM #InputOperatingHour AS i
		    INNER JOIN inv.ScreenOperatingHour soh
		        ON soh.ScreenId = i.ScreenId
		        AND soh.isDeleted = 0
		        AND 
		        (
		            soh.[DayOfWeek] = i.[DayOfWeek]  
		            OR i.[DayOfWeek] = 0             
		            OR soh.[DayOfWeek] = 0           
		        )
		    WHERE i.StartTime < soh.EndTime
		        AND i.EndTime > soh.StartTime
		)
			 THROW 50007, 'Time slot overlaps with an existing slot for this day. Delete the existing day to add new.', 1;

		INSERT INTO inv.ScreenOperatingHour
		(
			ScreenId,
			StartTime,
			EndTime,
			[DayOfWeek],
			AvgAudienceCount,
			CreatedBy
		)
		OUTPUT inserted.Id INTO #Inserted(Id)
		SELECT 
			i.ScreenId,
			i.StartTime,
			i.EndTime,
			i.[DayOfWeek],
			i.AvgAudienceCount,
			i.CreatedBy
		FROM #InputOperatingHour AS i ;

		SET @Json = ISNULL
        (
            (
                SELECT
                    s.Id,
                    s.ScreenId,
                    s.StartTime,
                    s.EndTime,
                    s.[DayOfWeek],
                    s.AvgAudienceCount,
                    s.CreatedAt,
                    s.CreatedBy
                FROM inv.ScreenOperatingHour s
                INNER JOIN #Inserted i ON i.Id = s.Id
                FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
            ),
            '[]'
        );
		
		COMMIT TRANSACTION;
        DROP TABLE IF EXISTS #InputOperatingHour;
        DROP TABLE IF EXISTS #Inserted;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DROP TABLE IF EXISTS #InputOperatingHour;
        DROP TABLE IF EXISTS #Inserted;

        THROW;
    END CATCH
END;
GO

/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure retrieves operating hours details such as start time, end time, day of week, and
--              audience count. The result is returned in JSON format..
-- =============================================
*/

CREATE PROCEDURE [inv].[SpScreenOperatingHourSel]
(
    @Json NVARCHAR(MAX) OUTPUT 
)
AS 
BEGIN 
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @ScreenId INT;
        SELECT 
            @ScreenId = ScreenId
        FROM OPENJSON(@Json)
        WITH
        (
            ScreenId INT
        );
        IF NOT EXISTS
        (
            SELECT 1
            FROM inv.Screen
            WHERE Id = @ScreenId
            AND IsDeleted = 0
        )
            THROW 50001, 'Screen not found.', 1;
        SET @Json = ISNULL(
        (
            SELECT 
                soh.Id,
                soh.ScreenId,
                soh.StartTime,
                soh.EndTime,
                soh.[DayOfWeek],
                soh.AvgAudienceCount,
                soh.CreatedAt,
                soh.CreatedBy,
                soh.UpdatedAt,
                soh.UpdatedBy
            FROM inv.ScreenOperatingHour soh
            WHERE soh.ScreenId = @ScreenId
            AND soh.IsDeleted = 0
            ORDER BY soh.[DayOfWeek], soh.StartTime
            FOR JSON PATH, INCLUDE_NULL_VALUES
        ), '[]');
       SELECT @Json AS JsonOutput;
    END TRY
    BEGIN CATCH
        SET @Json = (
            SELECT 
                ERROR_NUMBER() AS ErrorNumber,
                ERROR_MESSAGE() AS ErrorMessage
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );
    END CATCH
END;
GO

/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure retrieves screen details and returns screen information with optional filtering
--              and pagination support and the result is returned in JSON format 
-- =============================================
*/
CREATE   PROCEDURE [inv].[SpScreenSel]
(
	@Json NVARCHAR(MAX)
)
AS
BEGIN 
	SET NOCOUNT ON;

	DECLARE 
		@TenantId INT = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.Filter.TenantId') AS INT),1),
		@Search NVARCHAR(100) = ISNULL(JSON_VALUE( @Json , '$.Filter.Search'), ''),
		@Status INT = TRY_CAST (JSON_VALUE(@Json, '$.Filter.Status') AS INT),
		@Orientation INT = TRY_CAST (JSON_VALUE(@Json, '$.Filter.Orientation') AS INT),
		@Id INT = TRY_CAST(JSON_VALUE(@Json, '$.Filter.Id') AS INT),
		@Offset INT = ISNULL(JSON_VALUE(@Json, '$.Offset'), 0),
		@PageSize INT = ISNULL(JSON_VALUE(@Json, '$.PageSize'), 5),
		@TotalRecord INT;

		SELECT @TotalRecord = COUNT(1)
		FROM inv.Screen
		WHERE IsDeleted = 0
		AND TenantId = @TenantId
		AND (@Id IS NULL OR Id = @Id)
		AND
		(
			@Search = ''
			OR [Name] LIKE CONCAT ('%', @Search, '%')
			OR [Address] LIKE CONCAT ('%', @Search, '%')
			OR [Location] LIKE CONCAT ('%', @Search, '%')
			OR Tag LIKE CONCAT ('%', @Search, '%')
			OR Resolution LIKE CONCAT('%', @Search, '%')
		)
		AND (@Status IS NULL OR [Status] = @Status)
		AND (@Orientation IS NULL OR Orientation = @Orientation);

		SELECT ISNULL
		(
			( 
				SELECT 
					JSON_QUERY
					(
						(
							SELECT 
								s.Id,
								s.TenantId,
								s.[Name],
								s.[Address],
								s.[Location],
								s.[Status],
								s.Resolution,
								s.Orientation,
								JSON_QUERY(
										s.Tag) AS Tag,
								s.CreatedAt,
								s.UpdatedAt,
								s.CreatedBy,
								s.UpdatedBy,

								JSON_QUERY
								(
									CASE 
									WHEN @Id IS NOT NULL 
									THEN
                                    ISNULL
                                    (
                                        (
                                            SELECT
                                                oh.Id           AS Id,
												oh.ScreenId     AS ScreenId,
                                                oh.[DayOfWeek]  AS [DayOfWeek],   
                                                oh.StartTime    AS StartTime,    
                                                oh.EndTime      AS EndTime,
												oh.AvgAudienceCount AS AvgAudienceCount
                                            FROM inv.ScreenOperatingHour AS oh
                                            WHERE oh.ScreenId   = s.Id
                                              AND oh.IsDeleted  = 0
                                            ORDER BY oh.[DayOfWeek]
                                            FOR JSON PATH, INCLUDE_NULL_VALUES
                                        ),
                                        '[]'                                  
                                    )
									ELSE NULL            
								END
                                ) AS OperatingHours

							FROM inv.Screen AS s
							WHERE s.IsDeleted = 0
							AND s.TenantId = @TenantId
							AND (@Id IS NULL OR s.Id = @Id)
							AND 
							(
								@Search = ''
								OR s.[Name] LIKE CONCAT ('%', @Search, '%')
								OR s.[Address] LIKE CONCAT ('%', @Search , '%')
								OR s.[Location] LIKE CONCAT ('%' , @Search, '%')
								OR s.Tag LIKE CONCAT ('%', @Search, '%')
								OR s.Resolution LIKE CONCAT ('%', @Search, '%')
							)
							AND (@Status IS NULL OR s.[Status] = @Status)
							AND (@Orientation IS NULL OR s.Orientation = @Orientation)
						ORDER BY s.CreatedAt DESC
						OFFSET @Offset ROWS 
						FETCH NEXT @PageSize ROWS ONLY 
						FOR JSON PATH, INCLUDE_NULL_VALUES
						)
					) AS Data,
					@TotalRecord AS TotalRows
					FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
					),
					'{}'
				);
			END;
GO

/*
-- =============================================
-- Author:      Jecika Shrestha
-- Create date: 2026/05/06
-- Description: This procedure updates existing screen details and the response is returned in JSON
--              format.
-- =============================================
*/

CREATE   PROCEDURE [inv].[SpScreenUpd]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS 
BEGIN 
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;

		CREATE TABLE #ScreenInput
		(
			Id INT NOT NULL,
			[Name] NVARCHAR(50),
			[Address] NVARCHAR(50),
			[Location] NVARCHAR(200),
			[Status] INT,
			Resolution NVARCHAR(20),
			Orientation INT, 
			Tag NVARCHAR(80),
			UpdatedBy INT
		);

		INSERT INTO #ScreenInput
		(
			Id,
			[Name],
			[Address],
			[Location],
			[Status],
			Resolution,
			Orientation,
			Tag,
			UpdatedBy
		)
		SELECT 
			oj.Id,
			oj.[Name],
			oj.[Address],
			oj.[Location],
			oj.[Status],
			oj.Resolution,
			oj.Orientation,
			oj.Tag,
			oj.UpdatedBy
		FROM OPENJSON(@Json)
		WITH
		(
			Id INT,
			[Name] NVARCHAR(50),
			[Address] NVARCHAR(50),
			[Location] NVARCHAR(200),
			[Status] INT,
			Resolution NVARCHAR(20),
			Orientation INT,
			Tag NVARCHAR(MAX) AS Json,
			UpdatedBy INT
		) AS oj;

		IF EXISTS 
		( 
			SELECT 1 
			FROM #ScreenInput si 
			LEFT JOIN inv.Screen s 
			ON s.Id = si.Id AND s.IsDeleted = 0
			WHERE s.Id IS NULL
		)
		THROW 50011, 'Screen not found.', 1;

		IF EXISTS
		(
			SELECT 1
			FROM #ScreenInput si
			INNER JOIN inv.Screen s
			    ON s.[Name] = si.[Name]
			    AND s.TenantId = (SELECT TenantId FROM inv.Screen WHERE Id = si.Id)
			    AND s.IsDeleted = 0
			    AND s.Id != si.Id
		)
		THROW 50012, 'Screen name already exists for this tenant.', 1;

		UPDATE s
		SET 
			s.[Name] = si.[Name],
			s.[Address] = si.[Address],
			s.[Location] = si.[Location],
			s.[Status] = si.[Status],
			s.Resolution = si.Resolution,
			s.Orientation = si.Orientation,
			s.Tag = si.Tag,
			s.UpdatedBy = si.UpdatedBy,
			s.UpdatedAt = GETUTCDATE()
		FROM inv.Screen AS s
		INNER JOIN #ScreenInput AS si
		ON si.Id = s.Id
		AND s.IsDeleted = 0;

		SET @Json = ISNULL                  
        (
            (
                SELECT
                    s.Id,
                    s.TenantId,
                    s.[Name],
                    s.[Address],
                    s.[Location],
                    s.[Status],
                    s.Resolution,
                    s.Orientation,
                    JSON_QUERY(s.Tag) AS Tag,
                    s.CreatedAt,
                    s.UpdatedAt,
                    s.CreatedBy,
                    s.UpdatedBy
                FROM inv.Screen AS s
                INNER JOIN #ScreenInput AS si ON si.Id = s.Id
                FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
			 ),
			'[]'
        );

	   COMMIT TRANSACTION;
	   DROP TABLE IF EXISTS #ScreenInput;

	   END TRY
	   BEGIN CATCH
			IF @@TRANCOUNT > 0
				ROLLBACK TRANSACTION;
			DROP TABLE IF EXISTS #ScreenInput;
			THROW;
    END CATCH
END;
GO
